nav {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #959090;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px;
  }
  
 