<div class="header">
  <h1>{{headerTitle}}</h1>
</div>

<form [formGroup]="loginForm">
  <div class="container">
    <div class="centered">
      <h1>Login</h1>
    </div>
    <label for="username">Username:</label>
    <br><br>
    <input type="text" class="full-width" value="username" formControlName="username" placeholder="Username">
   
    <br><br>
    <label for="password">Password:</label> 
    <br><br>
    <input type="password" class="full-width" value="password" formControlName="password" placeholder="Password"><br><br>
    <div class="label-container">      
      <label class="label-left" for="rem">Remember me</label> 
      <input class="label-left" type="checkbox" value="rem">
      <label class="reg-label">Register here</label>
    </div>
    <button type="submit" (click)="login()" class="custom-button">{{ buttonTitle }}</button>
    
  </div>
</form>